<main>
  <div class="wild__blog--header">
    <div class="wild__blog--title">
      <h1>Bienvenue sur le Wild Blog de {{ title }} !</h1>
    </div>
    <nav class="wild__blog--link">
      <ul>
        <li>
          <a [routerLink]="['/contact']">Nous contacter</a>
      </li>
      <li><a [routerLink]="['/signup-form']">Inscription</a></li>
    </ul>
    </nav>
  </div>
  <div class="card-section">
    @for (article of articles; track article.id){
      <app-article-card [article]="article" (notifyFavorite)="handleAddFavorite($event)" (notifyRemoveFavorite)="handleFavoriteRemoved($event)"></app-article-card>
    }
    @for (article of articles; track article.id){
    @if(isPopupVisible){
      <div class="popupFavorite">
        @if(article.isFavorite){
          <h3>{{messageAddFavorite}}</h3>
        }
        @if(!article.isFavorite){
          <h3>{{ messageRemoveFavorite }}</h3>
        }
      </div>
    }
  }
</div>
</main>
