.wild__blog--title {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  h1 {
    margin-block: 2rem;
    padding: 1rem;
    width: fit-content;
    background: #abddc4;
    text-align: center;
  }
}
.article-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

// CSS for Quest four
.card-content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  width: 25rem;
  height: auto;
  background: #abddc4;
  box-shadow: 1px 8px 15px 0px #3f5b69;
  transition: transform 330ms ease-in-out;
  &:hover {
    transform: scale(1.01);
    background: #ff9a95;
  }
  > h2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #154921;
    justify-self: flex-end;
  }
  img {
    margin-bottom: 1rem;
  }
  > p {
    min-height: 10rem;
  }
}
.card-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #154921;
  button {
    width: fit-content;
    padding: 0.2rem;
    background: #154921;
    color: #ece3dd;
    cursor: pointer;
    &:hover {
      background: #ece3dd;
      color: #154921;
      border: 2px solid #154921;
    }
  }
  h2 {
    text-align: center;
    padding-bottom: 0.2rem;
  }
  small {
    align-self: flex-end;
  }
}
.card-comment {
  padding-block: 0.5rem;
  p {
    height: 1.5rem;
    margin-bottom: 1rem;
  }
  input {
    padding: 0.2rem;
    width: 100%;
    margin-right: 0.7rem;
    background: #ece3dd;
    border: none;
    border-radius: 3px;
    border: 1px solid #154921;
    outline: none;
  }
}
.card-likes{
  width: fit-content;
  background: #c9eded;
  padding: .2rem;
  padding-inline: .5rem;
  border-radius: 3px;
}
.popular-article {
  font-size: 1.5em;
  text-shadow: 2px 2px 5px gray;
  font-weight: bold;
}
