.wild__blog--title {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  h1 {
    margin-block: 2rem;
    padding: 1rem;
    width: fit-content;
    background: #abddc4;
    text-align: center;
  }
}
