

    <div class="card-content">
      <div class="card-title">
        <button (click)="togglePublication(article)">
          @if(article.isPublished){ Masquer } @else { Afficher }
        </button>
        <h2>{{ article.title }}</h2>
        <small>auteur: {{ article.author }}</small>
      </div>
      @if(article.isPublished) {
      <img [src]="article.image" [alt]="article.author" />
      <p>{{ article.content }}</p>
      <a [routerLink]="['/article', article.id]">Lire l'article</a>
      <h2>Commentaires</h2>
      <div class="card-comment">
        <p>{{ article.comment }}</p>
        <input [(ngModel)]="article.comment" type="text" />
      </div>
      }
    </div>
  
  