@import url('https://fonts.cdnfonts.com/css/desporm');
.contactForm-title{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    h1{
        font-size: xxx-large;
        font-family: 'DESPORM', sans-serif;
    }
}

.contactForm-link{
    font-weight: bold;
    margin: 2rem;
    a{
        background: #ffffff53;
    position: relative;
    padding: .2rem;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        border-radius: 5px;
        height: 0.08rem;
        box-shadow: 1px 1px 1px #000000;
        bottom: 0;
        left: 0;
        background: #ffcb29;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
      &:hover {
        text-shadow:  1px 1px 1px #000000;
        color: #ffcb29;
      }
}
}
.form-container{
    display: flex;
    justify-content: center;
}
.contactForm__form{
    padding: 2rem;
    padding-top: .5rem;
    display: flex;
    background: #ffffff53;
    flex-direction: column;
    width: 50%;
    h2{
        text-align: center;
        margin-bottom: 1rem;
    }
    label{
        font-size: larger;
        margin-bottom: .5rem;
    }
    input{
        padding-block: .2rem;
        background: transparent;
        //force le background de l'autocompletion à rester transparent
        transition: background-color 5000s ease-in-out 0s;
        font-size: large;
        outline: none;
        border: none;
        border-bottom: 3px solid #ffffff;
        margin-bottom: .5rem;
    }
    textarea{
        margin-bottom: 1rem;
        padding-block: .5rem;
        padding-inline: .2rem;
        resize: none;
        height: 7rem;
        background: transparent;
        border: 3px solid white;
        font-size: large;
        &:focus{
            outline: none;
        }
    }
    &--image {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        img {
            width: 220px;
        }
    }
}
.form-btns{
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    gap: 1.5rem;
button{
    min-height: 2.82rem;
    min-width: 8.5rem;
    width: fit-content;
    background: #5f5477;
    padding: .5rem 1rem .5rem 1rem;
    color: #ece3dd;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
      background: transparent;
          color: #5f5477;
          border: 3px inset #5f5477;
    }
}
}
.error-msg-display{
    display: flex;
    justify-content: space-between;
}
.error-msg{
    span small{
   color: #ffffff;
    }
}
@media only screen and (max-width: 767px) {
    .contactForm-title{
        h1{
            font-size: xx-large;
        }
    }
    .contactForm-link {
        margin-inline: .5rem;
    }
    .contactForm__form {
        width: 95%;
    }
}